<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header-css"/>
</head> 
<body>
<div th:replace="fragments/header :: header"/>

<section id="main-body">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 box">
        <h4>Consultation</h4>
        <hr/>  
          <form method="post" th:action="@{/createParametre}">
            <div class="modal-body">
                  <div class="form-group">
                      <label for="libelle" >Libelle</label>
                      <input type="text" class="form-control" id="libelle" name="libelle"  />
                  </div>
                     
                     <div class="modal-footer">
             <button type="submit" class="btn btn-primary"> Valider </button>
            </div>
          </form>
    </div>
    
  </div>
</div>   
</section>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>