<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
       
         <div class="form-group">
                      <span th:each="symptome : ${symptomes}">
                      <label th:text="${symptome.libelle}"></label>
                        <input name="symptome[]" type="checkbox" th:value="${symptome.id}" >  
                  	  	
                  	  </span>
                  
                  </div>
  
                     <div class="modal-footer">
             <button class="btn btn-primary" id= "addsymptome"> Valider </button>
            </div>
          
    </div>
  </div>
</div>